/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Ensures consistent vertical scrollbar */
  background: #ffffff; /* Default background color */
  color: #2c2c2c; /* Default text color */
}